# This macro was provided by discord user Garrettwp to whom i give my thanks for sharing it with me.
# I have tweaked it a lot.
# They are based on the great Annex magprobe dockable probe macros "#Originally developed by Mental,
# modified for better use on K-series printers by RyanG and Trails", kudos to them.
# That macro as since evolved into a klipper plugin that currently is pending inclusion in klipper, 
# more information here, https://github.com/Annex-Engineering/Quickdraw_Probe/tree/main/Klipper_Macros
# User richardjm revised the macro variables and added some functions, thanks a lot
# by standing on the shoulders of giants, lets see if we can see further
#
# the current home for this version is https://github.com/jlas1/Klicky-Probe 

###################
# Bed mesh calibrate
[gcode_macro BED_MESH_CALIBRATE]
rename_existing: _BED_MESH_CALIBRATE
description: Perform Mesh Bed Leveling with klicky automount
gcode:
    {% set V = printer["gcode_macro _User_Variables"].verbose %}
    {% if V %}
        { action_respond_info("Bed Mesh Calibrate") }
    {% endif %}

    _CheckProbe action=query
	G90
    Attach_Probe
    _KLICKY_STATUS_MESHING

    _BED_MESH_CALIBRATE ADAPTIVE=1 {% for p in params
           %}{'%s=%s ' % (p, params[p])}{%
          endfor %}

    Dock_Probe

[gcode_macro _bed_mesh_calibrate_Variables]
    variable_bmc_on_z_probe:            0
    gcode:

[gcode_macro HOME_Z_AND_BED_MESH_CALIBRATE]
description: Enables a variable to automatically z_probe and bed mesh calibrate at the same time. This is a useful workaround to skip having to individually attach and detach for a z_probe and BED_MESH_CALIBRATE.
gcode:
    {% set enable = params.ENABLE|default(0)|int %}
    M118 HOME_Z_AND_BED_MESH_CALIBRATE set to { enable }
    SET_GCODE_VARIABLE MACRO=_bed_mesh_calibrate_Variables VARIABLE=bmc_on_z_probe VALUE={ enable }