[include moonraker_obico_macros.cfg]
# Settings for BTT SKR MINI E3 V2.0

# Mainsail settings
[include mainsail.cfg]

# KlackEnder settings
[include KlackEnderRev2.cfg]

# timelapse plugin settings
[include timelapse.cfg]

# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v2.0. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader" and USB communication. Also,
# select "Enable extra low-level configuration options" and configure
# "GPIO pins to set at micro-controller startup" to "!PA14".

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

# https://github.com/Klipper3d/klipper/blob/master/config/generic-bigtreetech-skr-mini-e3-v2.0.cfg

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: 0
position_max: 245
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
stealthchop_threshold: 999999

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: -12
position_min: -12 # KlackEnder Config
position_max: 235
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
stealthchop_threshold: 999999

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8
# endstop_pin: ^PC2
endstop_pin: probe:z_virtual_endstop # KlackEnder Config
# position_endstop: 0.0
position_max: 250
homing_speed: 10 # KlackEnder Config
position_min: -6 # KlackEnder Config

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
stealthchop_threshold: 999999

# G91
# G1 E50 F60
# rotation distance maths
# rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / <requested_extrude_distance>
# rotation_distance = 34.406 * (70 - 55) / 50 = 10.322
# rotation_distance = 10.322 * (70 - 32) / 50 = 7.845
# rotation_distance =  7.845 * (70 - 22) / 50 = 7.531
# rotation_distance =  7.531 * (70 - 20) / 50 = 7.531
# redo after removing clog
# rotation_distance =  7.531 * (70 - 14) / 50 = 8.434
# rotation_distance =  8.434 * (70 - 24) / 50 = 7.759
# rotation_distance =  7.759 * (70 - 20) / 50 = 7.759
# back to stock extruder
# rotation_distance =  8.434 * (70 - 26) / 50 = 7.422
# rotation_distance =  7.422 * (70 - 20) / 50 = 7.422
[extruder]
max_extrude_only_distance: 100.0
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD2
microsteps: 16
rotation_distance: 7.422 # 34.406 # BMG Extruder
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: ATC Semitec 104GT-2 # E3D V6
sensor_pin: PA0
#control: pid
# ~~tuned for stock hardware with 200 degree Celsius target~~
# PID_CALIBRATE HEADER=extruder TARGET=210
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 260

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.650
stealthchop_threshold: 999999

[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC3
control: pid
# tuned for stock hardware with 50 degree Celsius target
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[fan]
pin: PC7
max_power: 0.5

# bad mosfet on PC6. No fan control.
# https://www.reddit.com/r/BIGTREETECH/comments/ib5zqx/skr_mini_e3_v2_fan0_not_turning_on_fan1_voltage/
# [controller_fan controller_cooling_fan]
# pin: PC7
# fan_speed: 0.5

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_38FFD7054246303712792157-if00
restart_method: command

[exclude_object]

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

# Pin mappings for BL_T port
#[bltouch]
#sensor_pin: ^PB1
#control_pin: PB0

[gcode_macro HEAT_AND_UNLOAD_FILAMENT]
gcode:
  G92 E0
  M104 S230 ; Set hotend temperature to 200 degrees Celsius
  M109 S230 ; Wait for hotend to reach 200 degrees Celsius
  G1 E-40 F600 ; Retract 20mm of filament at a feedrate of 600 mm/min
  M104 S0 ; Set hotend temperature back to 0 degrees Celsius

######################################################################
# 128x64 Full Graphic Creality CR10 / ENDER 3 stockdisplay
######################################################################

# This section is used for a Creality "12864" display with a single
# ribbon cable between the display's EXP3 plug and the
# micro-controller board's EXP1 connector.

[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2

[output_pin beeper]
pin: EXP1_1

[output_pin beeper]
pin: EXP1_1

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8,  EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB15, EXP1_10=<5V>


# Other settings..

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.018674, -0.046174, -0.101174, -0.127424, -0.174924
#*# 	0.013826, -0.036174, -0.074924, -0.088674, -0.131174
#*# 	0.005076, 0.010076, 0.000076, -0.023674, -0.063674
#*# 	0.006326, 0.010076, 0.001326, -0.017424, -0.032424
#*# 	-0.014924, 0.006326, 0.013826, 0.007576, 0.000076
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 4
#*# mesh_y_pps = 4
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 8.0
#*# max_x = 223.0
#*# min_y = 30.0
#*# max_y = 201.0
#*#
#*# [probe]
#*# z_offset = 5.255
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 25.311
#*# pid_ki = 1.507
#*# pid_kd = 106.306
